@model List<Product>

@{
	ViewData["Title"] = "Products list";
	Layout = "_DashboardLayout";
}
<div class="container mt-2">
<h1>Products list</h1>
<a asp-action="Create" class="btn btn-success">Create New Product</a>
<table class="table mt-1">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Brand</th>
			<th>Price</th>
			<th>Form</th>
			<th>Category</th>
			<th>Is Rx Required</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var product in Model)
		{
			<tr>
				<td>@product.Id</td>
				<td>@product.Name</td>
				<td>@product.Brand</td>
				<td>@product.Price.ToString("C")</td>
				<td>@product.Form</td>
				<td>@product.Category?.Name</td>
				<td>@(product.IsRxRequired ? "Yes" : "No")</td>
				<td>
					<a asp-action="Edit" asp-route-id="@product.Id" class="btn btn-primary btn-sm">Edit</a>
					<a asp-action="Details" asp-route-id="@product.Id" class="btn btn-info btn-sm">Details</a>
					<a asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger btn-sm">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>

</div>